<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Admin Panel</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="authService.logOut()">
        <ion-icon name="power-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">admin</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
