ion-avatar {
    height: 20vh;
    width: 20vh;
    margin: 5vh auto;
    ion-img {
        height: 100%;
        width: 100%;
    }
}

.errorMsg {
    font-size: 0.7rem;
}

ion-button {
    margin-top: 5vh;
}

.margin-top {
    margin-top: 5vh;
}