<ion-content class="ion-padding">

  <ion-avatar>
    <ion-img src="assets/imgs/1.jpg"></ion-img>
  </ion-avatar>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list lines="none">

      <ion-item color="light" class="ion-margin-bottom">
        <ion-icon name="mail" color="primary" slot="start"></ion-icon>
        <ion-input
           type="email"
           name="email"
           ngModel
           email
           #emailCtrl="ngModel"
           placeholder="Email" 
           required
          ></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="!emailCtrl.valid && emailCtrl.touched" class="ion-text-center">
        <p class="errorMsg">* Please enter a valid email address</p>
        </ion-text>

      <ion-item color="light">
        <ion-icon name="key" color="primary" slot="start"></ion-icon>
        <ion-icon slot="end" color="primary" (click)="changeType()" [name]="type ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
        <ion-input
           [type]="type ? 'password' : 'text'"
           name="password"
           ngModel
           #passwordCtrl="ngModel"
           placeholder="Password" 
           required
           minlength="8"
          ></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!passwordCtrl.valid && passwordCtrl.touched" class="ion-text-center">
        <p class="errorMsg">* Password must be of minimum 8 characters long</p>
        </ion-text>

        <p class="ion-text-right">Forgot password?</p>

    </ion-list>

      <ion-button 
      *ngIf="!isLogin"
      [disabled]="!f.valid"
      color="primary" 
      expand="block" 
      shape="round" 
      type="submit">
      SIGN IN
    </ion-button>

    <ion-button
      *ngIf="isLogin"
      [disabled]="!f.valid"
      color="primary" 
      expand="block" 
      shape="round">
      <ion-spinner name="circles"></ion-spinner>
    </ion-button>

  </form>

  <ion-text class="ion-text-center" color="primary" routerLink="/login/signup">
    <p class="margin-top">Don't have an account?
      <b>Sign Up</b>
    </p>
  </ion-text>
  
</ion-content>
