<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="tertiary">Cart</ion-title>
    <ion-buttons slot="start" *ngIf="urlCheck && urlCheck !== 'tabs'">
      <ion-back-button [defaultHref]="getPreviousUrl()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="model?.restaurant">
    <ion-list lines="none" class="borderBottomSmall">
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-img
            [src]="model?.restaurant?.cover ? model?.restaurant?.cover : 'assets/imgs/1.jpg'"
          ></ion-img>
        </ion-thumbnail>
        <ion-label>
          <ion-text>
            <h4>{{ model?.restaurant?.name }}</h4>
          </ion-text>
          <ion-note>{{ model?.restaurant?.address }}</ion-note>
        </ion-label>
      </ion-item>
      <ion-item *ngFor="let item of model?.items; let i = index">
        <ion-text color="success">
          <span class="dotStyle">&#9679;</span>
        </ion-text>
        <ion-label class="ion-text-wrap">
          <h5>{{ item?.name }}</h5>
        </ion-label>
        <ion-row>
          <ion-icon
            color="success"
            name="remove-outline"
            (click)="onQuantityMinus(i)"
          ></ion-icon>
          <ion-text class="ion-text-center quantity" color="success"
            >{{ item?.quantity }}</ion-text
          >
          <ion-icon
            color="success"
            name="add-outline"
            (click)="onQuantityPlus(i)"
          ></ion-icon>
        </ion-row>
        <ion-text slot="end" color="dark" class="price ion-text-right">
          RM{{ (item?.price * item?.quantity).toFixed(2) }}
        </ion-text>
      </ion-item>
    </ion-list>
  </ng-container>

  <ion-item lines="none" class="borderBottom">
    <ion-icon slot="start" name="list-outline"></ion-icon>
    <ion-input
      type="text"
      placeholder="Any instruction? We will try our best"
      [(ngModel)]="instruction"
    ></ion-input>
  </ion-item>

  <ion-list class="borderBottom">
    <ion-list-header>
      <ion-label color="tertiary">Bill Detail</ion-label>
    </ion-list-header>
    <ion-item lines="none">
      <ion-label color="dark">Item Total</ion-label>
      <ion-text slot="end" color="dark">RM{{ model?.totalPrice }}</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="dark">Delivery Fee</ion-label>
      <ion-text slot="end" color="dark">RM{{ model?.deliveryCharge | number: '0.2-2'}}</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="dark">To Pay</ion-label>
      <ion-text slot="end" color="dark"><h5>RM{{ model?.grandTotal }}</h5></ion-text>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer *ngIf="model?.restaurant">
  <ion-toolbar>
    <ion-row *ngIf="!location?.lat">
      <ion-col size="6">
        <ion-button expand="block" fill="outline" color="success" (click)="onAddAddress()">
          ADD ADRESS
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="success" (click)="onChangeAddress()">
          CHANGE ADDRESS
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-item lines="none" *ngIf="location?.lat">
      <ion-button slot="end" (click)="onChangeAddress()" size="small" fill="clear">
        Change
      </ion-button>
      <ion-icon slot="start" name="home-outline"></ion-icon>
      <ion-label>
        <h5>Deliver to HOME</h5>
        <ion-text color="medium">
          <p>Ampang, Selangor</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-row *ngIf="location?.lat">
      <ion-col size="6" class="ion-no-padding" (click)="onScrollToBottom()">
        <ion-item lines="none" color="light" class="ion-no-padding">
          <ion-label>
            <h6>RM{{ model?.grandTotal }}</h6>
            <ion-text color="secondary">
              VIEW DETAILED BILL
              <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6" class="ion-text-center colStyle" (click)="onMakePayment()">
        <ion-button color="white" fill="clear">
          MAKE PAYMENT
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
