<ion-content [fullscreen]="true">

  <ion-list lines="none" class="ion-margin-top">
    <ion-list-header class="ion-padding">
      <ion-label>
        Forgot password
        <p>Enter your email for the verification process, we will send a verification code to your email.</p>
      </ion-label>
    </ion-list-header>

    <ion-item-group class="ion-padding-horizontal">
      <ion-item class="ion-margin">
        <ion-icon name="mail" color="medium" slot="start"></ion-icon>
        <ion-input
           type="email"
           name="email"
           ngModel
           email
           #emailCtrl="ngModel"
           placeholder="Email" 
           required
          ></ion-input>
        </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-button
    expand="block"
    size="large"
    shape="round"
    color="primary">
    <ion-text color="white">SEND OTP</ion-text>
  </ion-button>

</ion-content>
